.make-request {
  padding: 5% 15% 3% 15%;
  @include flex-container;
  flex-direction: column;
  font-family: $font-montserrat;
  background-image: url("../../../public/img/desktopBackground/makeRequest.png");
  background-size: 100% auto;
  background-position: center top;

  &__container {
    background-color: $grey-color;
    border-radius: $radius-border;
  }

  &__title {
    margin-top: 4%;
    font-size: 2.4vw;
    font-weight: 600;
    text-align: center;
  }

  &__card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 5%;
  }

  &__card {
    width: 50%;
    padding: 5% 9%;
    &:hover {
      opacity: 88%;
    }
  }

  &__card-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__card-name {
    font-size: 1.6vw;
    margin-top: 10%;
    font-weight: bold;
  }

  &__card-position {
    font-size: 1.5vw;
    margin-top: 5%;
    font-weight: bold;
  }

  &__card-text {
    font-size: 1.4vw;
    margin-top: 10%;
    text-align: justify;
  }

  &__btn {
    margin-top: 6%;
    width: 100%;
    font-size: 1.7vw;
    padding: 2.5% 0;
    border-radius: $radius-border;
    font-family: $font-vietnam;
    @include flex-container;
    font-size: 1.1vw;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    &:hover {
      background-color: $purple-color;
    }
  }

  &__btn-icon {
    font-size: 1.5vw !important;
    margin-left: 3%;
  }

  @include phone {
    display: none;
  }
}
