.make-request {
  padding: 5% 15% 3% 15%;
  @include flex-container;
  flex-direction: column;
  font-family: $font-montserrat;
  background-image: url("../../../public/img/desktopBackground/makeRequest.png");
  background-size: 100% auto;
  background-position: center top;

  &__mobile-title {
    display: none;
  }
  &__container {
    background-color: $grey-color;
    border-radius: $radius-border;
  }

  &__title {
    margin-top: 4%;
    font-size: 2.4vw;
    font-weight: 600;
    text-align: center;
  }

  &__card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 5%;
  }

  &__card {
    width: 50%;
    padding: 5% 9%;
    &:hover {
      opacity: 88%;
    }
  }

  &__card-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__card-name {
    font-size: 1.6vw;
    margin-top: 10%;
    font-weight: bold;
  }

  &__card-text {
    font-size: 1.4vw;
    margin-top: 10%;
    text-align: justify;
    line-height: 1.2;
  }

  &__btn {
    margin-top: 6%;
    width: 100%;
    font-size: 1.7vw;
    padding: 2.5% 0;
    border-radius: $radius-border;
    font-family: $font-vietnam;
    @include flex-container;
    font-size: 1.1vw;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    &:hover {
      background-color: $purple-color;
    }
  }

  &__btn-icon {
    font-size: 1.5vw !important;
    margin-left: 3%;
  }

  &__mobile-slider {
    display: none;
  }

  @include phone {
    background-image: none;
    display: block;
    padding: 5% 14% 0.1% 14%;
    position: relative;

    &__mobile-title {
      display: block;
      margin-top: 4%;
      font-size: 4vw;
      font-weight: 550;
      text-align: center;
    }

    &__title {
      display: none;
    }

    &__container {
      border-radius: $mobile-radius-border;
      padding-bottom: 3%;
    }

    &__card-container {
      display: none;
    }

    &__card {
      padding: 5% 13%;
    }

    &__card-name {
      font-size: 3vw;
      margin-top: 6%;
      font-weight: 600;
    }

    &__card-text {
      font-size: 2.2vw;
      margin-top: 6%;
      line-height: 1.2;
    }

    &__btn {
      font-size: 2vw;
      padding: 3% 0;
      font-size: 2.3vw;
      border-radius: $mobile-radius-border;
    }

    &__btn-icon {
      font-size: 2.4vw !important;
      margin-left: 5%;
    }

    &__mobile-slider {
      display: block;
      margin-top: 7%;
    }

    .slick-next {
      display: none;
      right: 16.5%;
    }

    .slick-prev {
      display: none;
      left: 14.3%;
    }

    .slick-prev:before {
      display: none;
      color: black;
    }

    .slick-next:before {
      display: none;
      color: black;
    }

    &__arrow-next-icon-container {
      position: absolute;
      top: 49%;
      right: 14%;
    }

    &__arrow-prev-icon-container {
      position: absolute;
      top: 49%;
      left: 11.5%;
    }

    &__icon-prev {
      font-size: 2vw;
    }

    &__icon-next {
      font-size: 2vw;
    }
  }
}
