.make-request {
  margin: 8% 0 3% 0;
  @include main-padding;
  @include flex-container;
  flex-direction: column;
  font-family: $font-montserrat;

  &__container {
    background-color: $grey-color;
    border-radius: 20px;
  }

  &__title {
    margin-top: 4%;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
  }

  &__card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 5%;
  }

  &__card {
    width: 50%;
    padding: 4% 9%;
  }

  &__card-img {
    max-width: 100%;
    height: auto;
  }

  &__card-name {
    font-size: 1.6vw;
    margin-top: 10%;
    font-weight: bold;
  }

  &__card-position {
    font-size: 1.5vw;
    margin-top: 5%;
    font-weight: bold;
  }

  &__card-text {
    font-size: 1.4vw;
    margin-top: 10%;
    text-align: justify;
  }

  &__btn {
    margin-top: 5%;
    width: 100%;
    font-size: 1.7vw;
    padding: 1% 0;
    border-radius: 15px;
    font-family: $font-vietnam;
    font-size: 1.1vw;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
  }
}
