.donation-details {
  padding: 6% 17% 4% 17%;
  border-radius: 8px;
  font-family: $font-montserrat;

  &__title {
    font-size: 2.4vw;
    font-weight: 500;
    font-family:     $font-nunito
    ;
    text-align: center;
  }

  &__container {
    margin-top: 8%;
    padding: 3% 4%;
    background-color: $grey-color;
    border-radius: $radius-border;
  }

  &__item {
    justify-content: space-between;
    padding: 2%;
    border-radius: 5px;

    .donation-container {
      &__currency {
        font-size: 2.5vw;
        font-weight: bold;
      }

      &__information-container {
        @include flex-container;
        justify-content: space-between;
        margin-top: 2%;
        width: 98%;
      }

      &__number {
        font-size: 1.7vw;
        background-color: #cad3dc;
        padding: 1.3% 2%;
        border-radius: $radius-border;
      }

      &__btn-container {
        margin-left: 1%;
        width: 40%;
        display: flex;
      }

      &__copy-btn {
        border-radius: $radius-border;
        border: 1px solid black;
        padding: 2% 3%;
        cursor: pointer;
        font-size: 1.5vw;
        font-weight: bold;
        transition: background-color 0.3s;
      }

      &__copy {
        @include flex-container;
      }

      &__copy-icon {
        font-size: 2vw;
        margin-left: 1%;
      }

      &__mobile-check-icon {
        display: none;
      }

      &__mobile-copy-icon {
        display: none;
      }

      &__information-btn {
        margin-left: 2%;
        border-radius: $radius-border;
        padding: 1% 4%;
        cursor: pointer;
        font-weight: bold;
        border: none;
        font-size: 1.5vw;
        @include flex-container;
        background-color: black;
        color: white;
        transition: background-color 0.3s;
        &:hover {
          background-color: $purple-color;
        }
      }

      &__copied {
        font-weight: bold;
        @include flex-container;
      }
    }
  }

  @include phone {
    padding: 15% 10% 6% 10%;

    &__title {
      font-size: 3.7vw;
      font-weight: 500;
    }

    &__container {
      margin-top: 5%;
      padding: 3% 2%;
      border-radius: $mobile-radius-border;
    }

    &__item {
      padding: 2% 1%;

      .donation-container {
        &__currency {
          font-size: 3.6vw;
          font-weight: 600;
        }

        &__information-container {
          @include flex-container;
          justify-content: space-between;
          width: 100%;
          gap: 1%;
        }

        &__number {
          font-size: 2.3vw;
          padding: 1.2% 3.5%;
          font-weight: 500;
          @include flex-container;
          border-radius: $mobile-radius-border;
          width: 66%;
        }

        &__btn-container {
          width: 33%;
        }

        &__mobile-check-icon {
          display: block;
          margin-left: 3%;
          font-size: 4vw;
        }

        &__mobile-copy-icon {
          display: block;
          margin-left: 2%;
          font-size: 4vw;
          &:hover {
            color: $blue-color;
          }
        }

        &__copy-btn {
          display: none;
        }

        &__information-btn {
          border-radius: $mobile-radius-border;
          padding: 5% 14%;
          font-size: 2.5vw;
          font-weight: 500;
        }

        &__copy-icon {
          font-size: 2.9vw;
          margin-left: 3%;
        }
      }
    }
  }
}
