.transferred-things {
  padding: 8% 12% 5% 12%;
  font-family: $font-montserrat;
  background-image: url("../../../public/img/desktopBackground/transferredThings.png");
  background-size: 100% auto;
  background-position: center top -30px;

  &__title {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    font-family: $font-namu;
  }

  &__description {
    margin-top: 6%;
    font-size: 1.5vw;
    line-height: 1.4;
    text-align: justify;
  }

  .items-container {
    padding: 0 10%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12%;

    &__item {
      margin-top: 7%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      background-color: #1db2be;
      padding: 2% 7%;
      border-radius: $radius-border;
      &:hover {
        background-color: $mint-color;
      }
    }

    &__item-name {
      font-size: 1.5vw;
      font-weight: 600;
      font-style: italic;
      font-family: $font-montserrat;
    }

    &__item-quantity {
      font-size: 1.4vw;
      font-weight: 700;
      color: white;
      padding: 2% 2%;
      animation: fadeIn 1.5s forwards;
    }

    @keyframes fadeIn {
      from {
        color: transparent;
      }
      to {
        color: white;
      }
    }
  }

  @include phone {
    padding: 12% 13% 5% 13%;
    background-image: none;

    &__title {
      font-size: 4vw;
      font-weight: 550;
    }

    &__description {
      margin-top: 5%;
      font-size: 3vw;
      line-height: 1.3;
    }

    .items-container {
      padding: 0 0%;
      grid-column-gap: 5%;

      &__item {
        margin-top: 12%;
        font-weight: bold;
        padding: 3.5% 5%;
        border-radius: $mobile-radius-border;
      }

      &__item-name {
        font-size: 2.4vw;
        font-weight: 600;
      }

      &__item-quantity {
        font-size: 2.4vw;
        font-weight: 900;
        padding: 0% 2%;
      }
    }
  }
}
