.gallery {
  padding: 9% 15% 6% 15%;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f";
  background-image: url("../../../public/img/desktopBackground/gallery.png");
  background-size: 100% auto;
  background-position: center top -30px;
  gap: 2%;

  &__container {
    @include flex-container;
  }

  &__first-photo {
    grid-area: a;
  }

  &__second-photo {
    grid-area: b;
  }

  &__third-photo {
    grid-area: c;
  }

  &__fourth-photo {
    grid-area: d;
  }

  &__fifth-photo {
    grid-area: e;
  }
  &__sixth-photo {
    grid-area: f;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @include phone {
    background-image: none;
    padding: 10% 15% 8% 15%;
    grid-gap: 1%;
    grid-template-areas:
      "a b"
      "c d"
      "e f";

    &__img {
      width: 100%;
      height: auto;
    }
  }
}
