.gallery {
  padding: 11% 15% 6% 15%;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f";
  background-image: url("../../../public/img/desktopBackground/gallery.png");
  background-size: 100% auto;
  background-position: center top;
  gap: 2%;

  &__container {
    @include flex-container;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: $photo-radius-border;
    border: 0.2vw solid rgb(72, 118, 186);
    &:hover {
      opacity: 93%;
    }
  }

  @include phone {
    background-image: none;
    padding: 10% 15% 8% 15%;
    grid-gap: 1%;
    grid-template-areas:
      "a b"
      "c d"
      "e f";

    &__img {
      width: 100%;
      height: auto;
      border-radius: $mobile-photo-radius-border;
      border: 0.4vw solid rgb(72, 118, 186);
    }
  }
}
