.partners-carousel {
  margin-top: 12%;
  font-family: $font-montserrat;
  overflow-x: hidden;

  &__title {
    margin-bottom: 4%;
    text-align: center;
    font-size: 2.2vw;
    font-weight: 500;
  }

  .partner-slide {
    padding: 10%;
    @include flex-container;
    gap: 20%;

    .partner-card {
      padding: 3%;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      overflow: hidden;

      .partner-logo {
        border-radius: 100%;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      &:hover {
        opacity: 93%;
      }
    }
  }

  @include phone {
    padding: 1% 0 3% 0;
    &__title {
      margin-bottom: 7%;
      font-size: 4.2vw;
      font-family: $font-namu;
    }
  }
}
