$mobile-width: 230px;
$desktop-width: 750px;
$main-paddings: 15%;

$font-nunito: "Nunito", sans-serif;
$font-namu: "NAMU-1750", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-vietnam: "Be Vietnam Pro", sans-serif;

$radius-border: 1.8vw;
$mobile-radius-border: 4.5vw;
$photo-radius-border: 0.5vw;
$mobile-photo-radius-border: 1.5vw;

$grey-color: rgba(237, 237, 237, 0.42);
$purple-color: #afa4c5;
$blue-color: #4864a1;
$mint-color: #3dc9c6;
