$mobile-width: 230px;
$desktop-width: 750px;
$main-paddings: 15%;

$font-namum: "Nanum Gothic", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-vietnam: "Be Vietnam Pro", sans-serif;

$radius-border: 1.7vw;
$mobile-radius-border: 5.2vw;

$grey-color: rgba(237, 237, 237, 0.42);
$purple-color: #afa4c5;
$blue-color: #4864a1;
$mint-color: #3dc9c6;
