$mobile-width: 280px;
$desktop-width: 500px;
$main-paddings: 15%;

$font-namum: "Nanum Gothic", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-vietnam: "Be Vietnam Pro", sans-serif;

$grey-color: #ededed;


