.current-fee {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 2.3vw;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 2rem;
  }

  .slick-slider {
    .slick-slide {
      padding: 0 15px;
      box-sizing: border-box;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  .card {
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
