.current-report {
  padding: 8% 0 3% 0;
  font-family: $font-montserrat;
  background-image: url("../../../public/img/desktopBackground/currentReport.png");
  background-size: 100% auto;
  background-position: center top;

  &__title {
    font-size: 2.4vw;
    font-weight: 600;
    text-align: center;
    font-family: $font-namu;
  }

  &__slider-container {
    margin-top: 3%;
    @include flex-container;
    flex-direction: column;
    @include main-padding;
    transition: transform 1s ease;
  }

  &__slide {
    padding: 3% 0;
    text-align: center;
    color: black;
    transition: transform 2s ease;
  }

  &__card {
    display: flex;
    width: 100%;
    gap: 6%;

    .report-card {
      &__img-container {
        width: 41%;
        @include flex-container;
      }
      &__img {
        width: 100%;
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease;
        border-radius: $photo-radius-border;
      }

      &__info-container {
        width: 75%;
        @include flex-container;
        flex-direction: column;
      }

      &__text-container {
        background-color: $grey-color;
        padding: 5% 7%;
        border-radius: $radius-border;
        line-height: 1.2;
      }

      &__date {
        text-align: start;
        font-size: 1.2vw;
      }

      &__name {
        margin-top: 2%;
        font-size: 1.5vw;
        font-weight: bold;
        text-align: start;
      }

      &__mobile-text {
        display: none;
      }

      &__text {
        font-size: 1.4vw;
        margin-top: 4%;
        line-height: 1.2;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: -webkit-line-clamp 0.5s ease;
      }

      &__text.expanded {
        -webkit-line-clamp: unset;
      }

      &__btn {
        @include flex-container;
        width: 40%;
        float: right;
        margin-top: 8%;
        padding: 1.5% 0;
        border-radius: $radius-border;
        border: none;
        font-weight: bold;
        font-family: $font-vietnam;
        font-size: 1.1vw;
        cursor: pointer;
        color: black;
        background-color: white;
        &:hover {
          padding: 1.3% 0;
          border: 1px solid black;
        }
      }

      &__btn-icon {
        font-size: 1.5vw;
        margin-left: 5%;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-top: 5%;
  }

  &__dot {
    height: 1.2vw;
    width: 1.2vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.8vw;
    cursor: pointer;

    &:hover {
      background-color: #999;
    }
  }

  &__dot.active {
    background-color: #333;
  }

  @include phone {
    padding: 7% 0 3% 0;
    background-image: none;

    &__title {
      font-size: 4vw;
      font-weight: 550;
      font-family: $font-namu;
    }

    &__slider-container {
      margin-top: 3%;
      padding: 0 10%;
    }

    &__slide {
      padding: 2% 0;
    }

    &__card {
      padding: 5% 5%;
      gap: 4%;
      background-color: $grey-color;
      border-radius: $mobile-radius-border;

      .report-card {
        &__img-container {
          width: 60%;
          @include flex-container;
        }

        &__img {
          width: 100%;
          max-width: 100%;
          height: auto;
          border-radius: $mobile-photo-radius-border;
        }

        &__info-container {
          display: block;
        }

        &__text-container {
          padding: 0 0;
          border-radius: 0;
          background-color: transparent;
        }
        &__date {
          font-size: 1.7vw;
        }

        &__name {
          margin-top: 3%;
          font-size: 2.7vw;
          font-weight: 600;
          font-family: $font-namu;
        }

        &__text {
          display: none;
        }

        &__text.expanded {
          display: none;
        }

        &__text.expanded {
          display: block;
          -webkit-line-clamp: unset;
        }

        &__mobile-text {
          display: block;
          font-size: 2.2vw;
          margin-top: 6%;
          text-align: justify;
        }
        &__btn {
          border-radius: $mobile-radius-border;
          display: none;
        }
      }
    }

    &__controls {
      margin-top: 30px;
    }

    &__dot {
      height: 3.2vw;
      width: 3.2vw;
      margin: 0 1.2vw;
    }
  }
}
