.current-report {
  margin: 12% 0 3% 0;
  font-family: $font-montserrat;

  &__title {
    font-size: 2.3vw;
    font-weight: 600;
    text-align: center;
  }

  &__slider-container {
    margin-top: 3%;
    @include flex-container;
    flex-direction: column;
    @include main-padding;
    transition: transform 0.5s ease;
  }

  &__slide {
    padding: 2% 0;
    text-align: center;
    color: black;
  }

  &__card {
    display: flex;
    width: 100%;
    gap: 8%;

    .report-card {
      &__img {
        width: 26%;
        max-width: 100%;
        height: auto;
      }

      &__info-container {
        width: 66%;
        @include flex-container;
        flex-direction: column;
      }

      &__text-container {
        background-color: $grey-color;
        padding: 5% 7%;
        border-radius: 20px;
      }

      &__name {
        font-size: 1.7vw;
        font-weight: bold;
        text-align: start;
      }

      &__text {
        font-size: 1.4vw;
        margin-top: 4%;
        text-align: justify;
      }

      &__btn {
        width: 40%;
        float: right;
        margin-top: 10%;
        font-size: 1.7vw;
        padding: 1.5% 0;
        border-radius: 15px;
        border: none;
        font-family: $font-vietnam;
        font-size: 1.1vw;
        cursor: pointer;
        color: black;
        background-color: white;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__dot {
    height: 1.2vw;
    width: 1.2vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: #999;
    }
  }

  &__dot.active {
    background-color: #333;
  }
}
