.login {
  @include flex-container;
  flex-direction: column;
  font-family: $font-montserrat;

  &__text {
    font-size: 2.2vw;
    font-weight: bold;
  }

  &__login-container {
    border-radius: 2%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 35%;
    margin: 4% 0;
    text-align: center;
    width: 90%;
  }

  &__img {
    width: 40%;
    height: auto;
    object-fit: cover;
  }

  &__input-group {
    margin-top: 5%;
    &:nth-last-child(-n + 2) {
      margin-bottom: 10%;
    }
  }

  &__input-name {
    text-align: left;
    width: 80%;
    color: #676767;
    font-size: 1.7vw;
    display: inline-block;
    margin-bottom: 1%;
    text-transform: uppercase;
  }

  &__input {
    text-align: left;
    width: 80%;
    height: 20%;
    background: #f2f2f5;
    border-radius: 4px;
    font-size: 2vw;
    outline: 0;
    padding: 1% 2%;
    transition: all 0.3s;

    &:focus {
      background: #b3b0b0;
      border: 2px solid #3566a9;
    }
    &::placeholder {
      color: #b4b2b2;
      font-size: 16px;
    }
  }

  &__btn {
    border-radius: 5px;
    font-family: $font-montserrat;
    margin-bottom: 2%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 420px;
    outline: 0;
    padding: 2% 0;
    width: 80%;
    background: #3566a9;

    &:hover {
      background-color: #263e61;
    }
  }

  &__error-message {
    margin: 4% 0;
    color: red;
  }
}
