.our-team {
  padding: 2% 15% 3% 15%;
  font-family: $font-montserrat;
  background-image: url("../../../public/img/desktopBackground/ourTeam.png");
  background-size: 100% auto;
  background-position: center top;

  &__title {
    text-align: center;
    font-size: 2.4vw;
    font-weight: 600;
    font-family: $font-namu;
  }

  .team-card {
    background-color: $grey-color;
    border-radius: $radius-border;
    &__desktop-list-card {
      margin-top: 8%;
      display: flex;
      padding: 2% 2%;
      justify-content: center;
      border-radius: $radius-border;
    }

    &__slider {
      display: none;
    }

    &__mobile-slider {
      display: none;
    }

    &__card {
      width: 33%;
      padding: 2% 3%;
      &:hover {
        opacity: 93%;
      }
    }

    &__card-img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: $photo-radius-border;
    }

    &__card-name {
      text-align: center;
      font-size: 1.85vw;
      line-height: 1.2;
      margin-top: 5%;
      font-weight: 600;
    }

    &__card-position {
      font-size: 1.5vw;
      text-align: center;
      margin-top: 5%;
      font-weight: 600;
    }

    &__card-text {
      padding-inline: 5%;
      font-size: 1.3vw;
      margin-top: 8%;
      text-align: justify;
      line-height: 1.2;
    }
  }

  @include phone {
    padding: 7% 27% 8% 27%;
    background-image: none;

    &__title {
      font-size: 4.5vw;
      font-weight: 500;
    }

    .team-card {
      flex-direction: column;
      margin-top: 12%;
      border-radius: $mobile-radius-border;

      &__desktop-list-card {
        display: none;
      }

      &__mobile-slider {
        display: block;
      }

      &__card {
        padding: 8% 8%;
      }

      &__card-img {
        max-width: 100%;
        height: auto;
        border-radius: $mobile-photo-radius-border;
      }

      &__card-name {
        font-size: 3vw;
        margin-top: 10%;
        font-weight: 600;
      }

      &__card-position {
        font-size: 2.6vw;
        margin-top: 4%;
        font-weight: 600;
      }

      &__card-text {
        font-size: 2.5vw;
        margin-top: 5%;
      }
    }

    .slick-prev,
    .slick-next {
      display: none !important;
    }

    .slick-dots {
      padding: 0;
      li {
        margin: 0.5%;
        padding: 1%;
        button {
          &::before {
            margin-top: 40%;
            font-size: 4vw;
          }
        }
      }
    }
  }
}
