.title {
  margin-top: 8%;
  @include flex-container;
  @include main-padding;
  color: black;

  &__container {
    display: flex;
    background-color: $grey-color;
    padding: 2% 2% 2% 5%;
    border-radius: 20px;
  }

  &__text-container {
    width: 60%;
    color: black;
  }

  &__title {
    margin-top: 9%;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: $font-montserrat;
  }

  &__text {
    margin: 7% 28% 0 0;
    font-size: 1.5vw;
    @include flex-container;
    text-align: justify;
    line-height: 1.2; 
    text-shadow: 1% 1%;
  }

  &__btn-container {
    margin: 20% 0 5% 0;
    display: flex;
    gap: 5%;
  }

  &__btn {
    margin-top: 2%;
    width: 70%;
    font-size: 1.7vw;
    padding: 1.5% 0;
    border-radius: 15px;
    font-family: $font-vietnam;
    font-size: 1.1vw;
    cursor: pointer;
  }

  &__donate-btn {
    background-color: black;
    color: white;
  }

  &__help-btn {
    background-color: white;
  }

  &__img-container {
    width: 40%;
    margin-left: 2%;
    @include flex-container;
  }

  &__img {
    max-width: 95%;
    height: auto;
  }
}
