
# Папки
node_modules/
dist/
coverage/
tmp/

# Логи и временные файлы
*.log
npm-debug.log*

# Конфигурационные файлы
.env

# Локальные настройки IDE (добавьте свои, если используете другие IDE)
.vscode/
.idea/

