.footer {
  background-image: url("../../../public/img/desktopBackground/footer.png");
  background-size: 100% auto;
  background-position: center top -30px;
  font-family: $font-montserrat;

  &__main-container {
    margin-top: 7%;
    padding: 0 5% 1% 5%;
    @include flex-container;
    justify-content: space-between;
    width: 100%;
    gap: 4%;
  }
  &__logo-container {
    width: 20%;
  }

  &__logo-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    &:hover {
      opacity: 93%;
    }
  }

  &__logo-text {
    display: inline-block;
    line-height: 1.4;
    margin-top: 4%;
    font-weight: 400;
    font-size: 1vw;
    text-align: justify;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #3566a9;
    }
  }

  &__socials-container {
    width: 5%;
    @include flex-container;
    flex-direction: column;
  }

  &__socials-item {
    padding: 20% 0;
    cursor: pointer;
    display: inline-block;
    width: 60%;
    &:hover {
      fill: $blue-color;
    }
  }

  &__info-container {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  &__info-title {
    font-size: 1.4vw;
    padding: 4% 0;
  }
  &__info-text {
    font-size: 1.3vw;
    padding: 3% 0;
    line-height: 1.2;
    text-align: justify;
    &:hover {
      color: $blue-color;
    }
  }

  &__menu-container {
    width: 30%;
    @include flex-container;
    flex-wrap: wrap;
    padding-left: 2%;
  }

  &__nav-item {
    width: 40%;
    margin: 10% 0 0 10%;
    font-size: 1.2vw;
    cursor: pointer;
    font-weight: 450;
    &:hover {
      color: $blue-color;
    }
  }

  &__qr-container {
    width: 20%;
    &:hover {
      opacity: 92%;
    }
  }

  &__qr-code {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  &__rights {
    font-size: 1vw;
    text-align: center;
    padding-bottom: 1.5%;
  }

  &__policy {
    display: none;
  }

  @include phone {
    background-image: none;

    &__main-container {
      padding: 5% 12% 3% 12%;
    }

    &__logo-container {
      width: 30%;
      order: 1;
    }

    &__logo-text {
      margin-top: 4%;
      display: none;
    }

    &__socials-container {
      width: 10%;
      order: 1;
    }

    &__socials-item {
      padding: 13% 0;
    }

    &__info-container {
      width: 35%;
    }

    &__info-title {
      font-size: 2.4vw;
      margin-top: 4%;
      font-weight: 450;
    }

    &__info-text {
      font-size: 2vw;
      margin-top: 2%;
      font-weight: 450;
    }

    &__menu-container {
      display: none;
    }

    &__qr-container {
      display: none;
    }

    &__rights {
      margin-top: 3%;
      font-size: 1.8vw;
    }

    &__policy {
      display: block;
      text-align: center;
      margin: 0% 0 3% 0;
      font-size: 1.8vw;
      text-decoration: underline;
    }
  }
}
