.volunteer-carousel {
  padding: 1% 0 3% 0;
  font-family: $font-montserrat;
  @include main-padding;
  overflow-x: hidden;
  position: relative;

  &__title {
    margin-bottom: 4%;
    text-align: center;
    font-size: 2.3vw;
    font-weight: 500;
    font-family: $font-namu;
  }

  &__mobile-title {
    display: none;
  }

  &__container {
    background-color: $grey-color;
    border-radius: $radius-border;
  }

  .volunteer-slide {
    padding: 10%;
    @include flex-container;
    gap: 20%;
    &:hover {
      opacity: 93%;
    }
  }

  .volunteer-card {
    padding: 3%;
    overflow: hidden;

    .volunteer-logo {
      max-width: 100%;
      height: auto;
      border-radius: $photo-radius-border;
    }

    .volunteer-title {
      margin-top: 6%;
      font-size: 1.6vw;
      font-weight: 500;
    }

    .volunteer-text {
      margin-top: 8%;
      font-size: 1.4vw;
      font-weight: 600;
      font-weight: bold;
    }
  }

  .slick-dots {
    position: static;
    padding: 2% 0 1% 0;
    li {
      margin: 0;
      padding: 2%;
      button {
        &::before {
          margin-top: 5%;
          font-size: 1.5vw;
        }
      }
    }
  }

  &__arrow-next-icon-container {
    display: none;
  }

  &__arrow-prev-icon-container {
    display: none;
  }

  .volunteer-btn-wrapper {
    @include flex-container;
    &__btn {
      margin-top: 4%;
      border: none;
      width: 40%;
      padding: 0.9% 0;
      border-radius: $radius-border;
      font-family: $font-vietnam;
      font-size: 1.2vw;
      cursor: pointer;
      background-color: black;
      color: white;
      @include flex-container;
      &:hover {
        background-color: $purple-color;
      }
    }

    &__btn-icon {
      margin-left: 2%;
      font-size: 1.5vw !important;
    }
  }

  @include phone {
    padding: 9% 15% 4% 15%;

    &__title {
      display: none;
    }

    &__mobile-title {
      display: block;
      padding: 4% 0 2% 0;
      text-align: center;
      font-size: 3.5vw;
      font-weight: 500;
      font-family: $font-namu;
    }

    &__container {
      border-radius: $mobile-radius-border;
    }

    .volunteer-card {
      padding: 3%;
      overflow: hidden;

      .volunteer-logo {
        max-width: 100%;
        height: auto;
        border-radius: $photo-radius-border;
      }

      .volunteer-title {
        margin-top: 5%;
        font-size: 1.8vw;
        font-weight: 500;
      }

      .volunteer-text {
        margin-top: 5%;
        font-size: 1.7vw;
        font-weight: 600;
      }
    }

    .slick-dots {
      li {
        display: none;
      }
    }

    .slick-next {
      display: none;
    }

    .slick-prev {
      display: none;
    }

    &__arrow-next-icon-container {
      display: block;
      position: absolute;
      top: 20%;
      left: 100%;
    }

    &__arrow-prev-icon-container {
      display: block;
      position: absolute;
      top: 20%;
      right: 100%;
      z-index: 1;
    }

    .volunteer-btn-wrapper {
      &__btn {
        margin-top: 17%;
        border: none;
        width: 70%;
        padding: 2% 0 2% 0;
        font-size: 2.8vw;
        font-weight: 500;
        border-radius: $mobile-radius-border;
        font-family: $font-vietnam;
      }

      &__btn-icon {
        margin-left: 3%;
        font-size: 3.5vw !important;
      }
    }
  }
}
