.volunteer-carousel {
  padding: 1% 0 3% 0;
  font-family: $font-montserrat;
  @include main-padding;
  overflow-x: hidden;

  &__title {
    margin-bottom: 4%;
    text-align: center;
    font-size: 2.2vw;
    font-weight: 500;
  }

  &__mobile-title {
    display: none;
  }

  &__container {
    background-color: $grey-color;
    border-radius: $radius-border;
  }

  .volunteer-slide {
    padding: 10%;
    @include flex-container;
    gap: 20%;
  }

  .volunteer-card {
    padding: 3%;
    overflow: hidden;

    .volunteer-logo {
      max-width: 100%;
      height: auto;
    }

    .volunteer-title {
      margin-top: 5%;
      font-size: 1.8vw;
      font-weight: 500;
    }

    .volunteer-text {
      margin-top: 5%;
      font-size: 1.7vw;
      font-weight: 600;
    }
  }

  .slick-dots {
    position: static;
    padding: 1%;
    li {
      margin: 0;
      padding: 2%;
      button {
        &::before {
          margin-top: 5%;
          font-size: 1.5vw;
        }
      }
    }
  }

  .volunteer-btn-wrapper {
    @include flex-container;
    &__btn {
      margin-top: 4%;
      border: none;
      width: 38%;
      padding: 0.9% 0;
      border-radius: $radius-border;
      font-family: $font-vietnam;
      font-size: 1.1vw;
      cursor: pointer;
      background-color: black;
      color: white;
      font-weight: bold;
      @include flex-container;
      &:hover {
        background-color: $purple-color;
      }
    }

    &__btn-icon {
      margin-left: 2%;
      font-size: 1.5vw !important;
    }
  }

  @include phone {
    padding: 6% 16%;

    &__title {
      display: none;
    }

    &__mobile-title {
      display: block;
      padding: 4% 0;
      text-align: center;
      font-size: 3vw;
      font-weight: 500;
    }

    &__container {
      border-radius: $mobile-radius-border;
    }

    .volunteer-card {
      padding: 3%;
      overflow: hidden;

      .volunteer-logo {
        max-width: 100%;
        height: auto;
      }

      .volunteer-title {
        margin-top: 5%;
        font-size: 1.8vw;
        font-weight: 500;
      }

      .volunteer-text {
        margin-top: 5%;
        font-size: 1.7vw;
        font-weight: 600;
      }
    }

    .slick-dots {
      padding: 1.5%;
      li {
        display: none;
      }
    }

    .slick-prev {
      left: -11%;
      top: 20 !important;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
      font-size: 6vw;
      line-height: 0;
    }

    .slick-next:before {
      color: black;
      font-size: 6vw;
      line-height: 0;
    }

    .volunteer-btn-wrapper {
      &__btn {
        margin-top: 15%;
        border: none;
        width: 73%;
        padding: 1.5% 0;
        font-size: 3vw;
        font-weight: 550;
        border-radius: $mobile-radius-border;
      }

      &__btn-icon {
        margin-left: 5%;
        font-size: 3.5vw !important;
      }
    }
  }
}
