.admin-page {
  @include flex-container;
  flex-direction: column;
  font-family: $font-montserrat;
  margin: 3% 0;

  &__title {
    font-size: 2.2vw;
    font-weight: bold;
  }

  &__container {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-montserrat;
    width: 100%;
    gap: 10%;
  }

  &__btn {
    width: 30%;
    margin-top: 4%;
    font-family: $font-montserrat;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 1px;
    outline: 0;
    padding: 1% 0;
    background: #3566a9;

    &:hover {
      background: #263e61;
      font-size: 1.6vw;
      border: 1px solid;
    }
  }
}
