.admin-page {
  @include flex-container;
  flex-direction: column;
  font-family: $font-montserrat;
  padding: 3% 0 1% 0;

  &__title {
    font-size: 2.3vw;
    font-weight: 600;
  }

  &__container {
    margin-top: 2%;
    @include flex-container;
    flex-wrap: wrap;
    font-family: $font-montserrat;
    width: 100%;
    gap: 10%;
  }

  &__btn {
    width: 30%;
    margin-top: 4%;
    font-family: $font-montserrat;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 1px;
    outline: 0;
    padding: 1% 0;
    background: #3566a9;

    &:hover {
      background: #263e61;
    }
  }

  &__btn--exit {
    margin-top: 7%;
    background-color: $mint-color;
    &:hover {
      background: #155773;
    }
  }

  @include phone {
    &__title {
      font-size: 2.8vw;
      margin-top: 2%;
      font-weight: bold;
    }

    &__container {
      margin-top: 4%;
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &__btn {
      width: 40%;
      margin-top: 8%;

      font-size: 2vw;

      padding: 2% 0;
    }
  }
}
