.website-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: white;

  &__content {
    flex: 1;
  }

  &__scroll-top-icon {
    color: rgb(73, 155, 193) !important;
    font-size: 3.7vw !important;
    &:hover {
      color: rgb(54, 117, 147) !important;
    }
  }

  @include phone {
    background-image: url("../../../public/img/mobileBackground/mainTitle.png");

    &__scroll-top {
      display: none;
    }
  }
}
