.website-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: white;

  &__content {
    flex: 1;
  }
  @include phone {
    &__scroll-top {
      display: none;
    }
  }
}

.footer {
  margin-top: auto;
}

.website-body__header-hidden {
  transform: translateY(-100%);
  transition: transform 1.3s ease-in-out;
}
