.website-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.website-body__content {
  flex: 1; /* Этот блок будет занимать все доступное пространство между header и footer */
}

/* Стили для футера */
.footer {
  margin-top: auto;
}


/* Стили для скрытия хедера */
.website-body__header-hidden {
  transform: translateY(-100%);
  transition: transform 1.3s ease-in-out;
}