.error {
  @include flex-container;
  flex-direction: row;
  height: 20%;

  &__message-container {
    @include flex-container;
    flex-direction: column;
    width: 25%;
  }

  &__message {
    font-weight: bold;
    font-size: 1.8vw;
    font-family: $font-montserrat;
    margin-bottom: 10%;
  }

  &__btn {
    font-family: $font-montserrat;
    padding: 5%;
    color: white;
    cursor: pointer;
    font-size: 1.7vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #3566a9;

    &:hover {
      background: #263e61;
    }
  }

  &__img {
    max-width: 60%;
    height: auto;
  }

  @include phone {
    flex-direction: column;
  }
}
